<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="index.html"><img src="images/OtoPilaLogo.png" alt="OtoPila Logo" style="height: 80px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                <span class="nav-separator"></span>
                <li class="nav-item"><a class="nav-link" href="queue.html">Join Queue</a></li>
                <span class="nav-separator"></span>
                <li class="nav-item"><a class="nav-link" href="status.html">Status</a></li>
                <span class="nav-separator"></span>
                <li class="nav-item"><a class="nav-link" href="advisor-portal.html">Advisor Login</a></li>
            </ul>
        </div>
    </div>
</nav>
