.hero-carousel {
    position: relative;
    width: 100%;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    border-radius: 0.5rem;
}

.hero-carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
    transform: translate(-50%, -50%) scale(0.5);
}

.hero-carousel-item.active {
    opacity: 1;
    transform: translate(0, 0) scale(1);
    z-index: 1;
}

.hero-carousel-item.exiting {
    opacity: 0;
    transform: translate(70%, 80%) scale(0.5);
    z-index: 0;
}

.hero-carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-carousel-item .carousel-image-contain {
    object-fit: contain;
}