.animation-parent {
    overflow: hidden;
}

.queue-form {
    margin-bottom: 50px;
}

#animation-container {
    position: relative;
    height: 20px;
    margin-top: 100px;
    width: 100%;
}

.road {
    position: absolute;
    bottom: 0.2px;
    width: 100%;
    height: 5px;
    background-color: var(--otopila-caramel);
}

.bluecar {
    position: absolute;
    bottom: 0.2px;
    left: -120px;
    width: 120px;
    z-index: 2;
    animation: driveCar 3.5s forwards;
}

@keyframes driveCar {
    0% {
        left: -120px;
        opacity: 0;
    }
    5% {
        left: -120px;
        opacity: 1;
        animation-timing-function: cubic-bezier(0.1, 0.8, 0.2, 1);
    }
    25% {
        left: 0;
        opacity: 1;
        animation-timing-function: cubic-bezier(0.1, 0.8, 0.2, 1);
    }
    100% {
        left: calc(100% + 120px);
        opacity: 1;
        animation-timing-function: ease-out;
    }
}

.queued-container {
    background-color: var(--otopila-primary-dark);
    border-color: var(--otopila-primary-dark);
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    text-align: center;
    font-weight: 500;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.queued-message {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--otopila-caramel);
    padding: 0;
    margin: 0;
    line-height: 1;
}